 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* ----------------------------------------------------------------------------------------------------*/
/* base styles */
/* ----------------------------------------------------------------------------------------------------*/
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  background-color: #f2e6e6;
}


/* ----------------------------------------------------------------------------------------------------*/
/* logo*/
/* ----------------------------------------------------------------------------------------------------*/
.logo{
  width: 40px;
  height: 40px;
  padding: 1em
}


/* ----------------------------------------------------------------------------------------------------*/
/* navigation Bar*/
/* ----------------------------------------------------------------------------------------------------*/
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.new-blog:hover{
  box-shadow: 2px 5px 4px gray;
} 


/* ----------------------------------------------------------------------------------------------------*/
/* website name and links in the navbar */
/* ----------------------------------------------------------------------------------------------------*/
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  
}
.navbar a:hover {
  color: #c13e66;
}


/* ----------------------------------------------------------------------------------------------------*/
/* contents below the navbar */
/* ----------------------------------------------------------------------------------------------------*/
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
} 


/* ----------------------------------------------------------------------------------------------------
blog title
----------------------------------------------------------------------------------------------------*/
.heading{
  color:#f1356d
}
.heading:hover{
  color:rgb(213, 44, 171);
}


/* ----------------------------------------------------------------------------------------------------*/
/* individual blog box */
/* ----------------------------------------------------------------------------------------------------*/
.box-preview{
  align-items: center;
  display:flex;
  padding:1em ;
  margin-bottom: 2em;
}
.box-preview:hover{
  border-radius: 1em;
  box-shadow: 1px 2px 5px gray;
}
.box-preview a{
  text-decoration: none;
}

/* ----------------------------------------------------------------------------------------------------*/
/* delete button inside the blog box */
/* ----------------------------------------------------------------------------------------------------*/
.delete{
  margin-left: auto;
  margin-right:2em;
}
.delete-btn{
  align-items: center;
  color:rgb(0, 0, 0);
  background-color: #f2e6e6;
  border-radius: 0.5em;
  border: none;
  padding:0.5em 1em;
}
.delete-btn:hover{
  box-shadow: 2px 5px 10px gray;
  color:#fffdfd;
  background-color:rgb(68, 68, 68);
}


/* ----------------------------------------------------------------------------------------------------*/
/* Hidden new blog text*/
/* ----------------------------------------------------------------------------------------------------*/
.hidden-new:hover{
  color: black;
}

/* ----------------------------------------------------------------------------------------------------*/
/* individual blogs*/
/* ----------------------------------------------------------------------------------------------------*/
.blog h3{
  padding: 1em 2em;
}

.blog p{
  color:#c13e66;
  padding-left: 2em;
}

/* ----------------------------------------------------------------------------------------------------*/
/* New Blog form*/
/* ----------------------------------------------------------------------------------------------------*/
.newblogs{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.newblogs label{
  text-align: left;
  display: block;
  margin-bottom: 0.5em;
  color: #f1356d;
  font-size: 20px;
}

.newblogs input, .newblogs textarea, .newblogs select{
  width: 100%;
  font-size: medium;
  padding: 6px 10px;
  border-radius: 0.5em;
  cursor: pointer;
}

.newblogs button{
  background: #f1356d;
  color:#f2e6e6;
  border: 0;
  padding: 0.5em;
  border-radius: 8px;
  cursor: pointer;
}